<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.mapper.BusinessSeqMapper" >
  <resultMap id="BaseResultMap" type="com.xinda.model.BusinessSeq" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <id column="SEQ_CODE" property="seqCode" jdbcType="VARCHAR" />
    <result column="SEQ_VALUE" property="seqValue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SEQ_CODE, SEQ_VALUE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xinda.model.BusinessSeqExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_seq
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xinda.model.BusinessSeqKey" >
    select 
    <include refid="Base_Column_List" />
    from business_seq
    where ID = #{id,jdbcType=VARCHAR}
      and SEQ_CODE = #{seqCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xinda.model.BusinessSeqKey" >
    delete from business_seq
    where ID = #{id,jdbcType=VARCHAR}
      and SEQ_CODE = #{seqCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xinda.model.BusinessSeqExample" >
    delete from business_seq
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xinda.model.BusinessSeq" >
    insert into business_seq (ID, SEQ_CODE, SEQ_VALUE
      )
    values (#{id,jdbcType=VARCHAR}, #{seqCode,jdbcType=VARCHAR}, #{seqValue,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xinda.model.BusinessSeq" >
    insert into business_seq
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="seqCode != null" >
        SEQ_CODE,
      </if>
      <if test="seqValue != null" >
        SEQ_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="seqCode != null" >
        #{seqCode,jdbcType=VARCHAR},
      </if>
      <if test="seqValue != null" >
        #{seqValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xinda.model.BusinessSeqExample" resultType="java.lang.Integer" >
    select count(*) from business_seq
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update business_seq
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.seqCode != null" >
        SEQ_CODE = #{record.seqCode,jdbcType=VARCHAR},
      </if>
      <if test="record.seqValue != null" >
        SEQ_VALUE = #{record.seqValue,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update business_seq
    set ID = #{record.id,jdbcType=VARCHAR},
      SEQ_CODE = #{record.seqCode,jdbcType=VARCHAR},
      SEQ_VALUE = #{record.seqValue,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinda.model.BusinessSeq" >
    update business_seq
    <set >
      <if test="seqValue != null" >
        SEQ_VALUE = #{seqValue,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
      and SEQ_CODE = #{seqCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinda.model.BusinessSeq" >
    update business_seq
    set SEQ_VALUE = #{seqValue,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
      and SEQ_CODE = #{seqCode,jdbcType=VARCHAR}
  </update>
</mapper>