<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.mapper.ServiceOrderMapper" >
  <resultMap id="BaseResultMap" type="com.xinda.model.ServiceOrder" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SERVICE_NO" property="serviceNo" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="SERVICE_ID" property="serviceId" jdbcType="VARCHAR" />
    <result column="SERVICE_NAME" property="serviceName" jdbcType="VARCHAR" />
    <result column="SERVICE_INFO" property="serviceInfo" jdbcType="VARCHAR" />
    <result column="UNIT_PRICE" property="unitPrice" jdbcType="INTEGER" />
    <result column="BUY_NUM" property="buyNum" jdbcType="INTEGER" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="SERVICE_REQUEST" property="serviceRequest" jdbcType="VARCHAR" />
    <result column="PROVIDER_ID" property="providerId" jdbcType="VARCHAR" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SERVICE_NO, ORDER_ID, MEMBER_ID, PRODUCT_ID, SERVICE_ID, SERVICE_NAME, SERVICE_INFO, 
    UNIT_PRICE, BUY_NUM, TOTAL_PRICE, STATUS, CREATE_TIME, SERVICE_REQUEST, PROVIDER_ID, 
    UNIT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xinda.model.ServiceOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from service_order
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from service_order
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xinda.model.ServiceOrderExample" >
    delete from service_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xinda.model.ServiceOrder" >
    insert into service_order (ID, SERVICE_NO, ORDER_ID, 
      MEMBER_ID, PRODUCT_ID, SERVICE_ID, 
      SERVICE_NAME, SERVICE_INFO, UNIT_PRICE, 
      BUY_NUM, TOTAL_PRICE, STATUS, 
      CREATE_TIME, SERVICE_REQUEST, PROVIDER_ID, 
      UNIT)
    values (#{id,jdbcType=VARCHAR}, #{serviceNo,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, 
      #{serviceName,jdbcType=VARCHAR}, #{serviceInfo,jdbcType=VARCHAR}, #{unitPrice,jdbcType=INTEGER}, 
      #{buyNum,jdbcType=INTEGER}, #{totalPrice,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{serviceRequest,jdbcType=VARCHAR}, #{providerId,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xinda.model.ServiceOrder" >
    insert into service_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="serviceNo != null" >
        SERVICE_NO,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="serviceId != null" >
        SERVICE_ID,
      </if>
      <if test="serviceName != null" >
        SERVICE_NAME,
      </if>
      <if test="serviceInfo != null" >
        SERVICE_INFO,
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE,
      </if>
      <if test="buyNum != null" >
        BUY_NUM,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="serviceRequest != null" >
        SERVICE_REQUEST,
      </if>
      <if test="providerId != null" >
        PROVIDER_ID,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serviceNo != null" >
        #{serviceNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null" >
        #{serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="buyNum != null" >
        #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="serviceRequest != null" >
        #{serviceRequest,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xinda.model.ServiceOrderExample" resultType="java.lang.Integer" >
    select count(*) from service_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update service_order
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceNo != null" >
        SERVICE_NO = #{record.serviceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberId != null" >
        MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceId != null" >
        SERVICE_ID = #{record.serviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceName != null" >
        SERVICE_NAME = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceInfo != null" >
        SERVICE_INFO = #{record.serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrice != null" >
        UNIT_PRICE = #{record.unitPrice,jdbcType=INTEGER},
      </if>
      <if test="record.buyNum != null" >
        BUY_NUM = #{record.buyNum,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null" >
        TOTAL_PRICE = #{record.totalPrice,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.serviceRequest != null" >
        SERVICE_REQUEST = #{record.serviceRequest,jdbcType=VARCHAR},
      </if>
      <if test="record.providerId != null" >
        PROVIDER_ID = #{record.providerId,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update service_order
    set ID = #{record.id,jdbcType=VARCHAR},
      SERVICE_NO = #{record.serviceNo,jdbcType=VARCHAR},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      SERVICE_ID = #{record.serviceId,jdbcType=VARCHAR},
      SERVICE_NAME = #{record.serviceName,jdbcType=VARCHAR},
      SERVICE_INFO = #{record.serviceInfo,jdbcType=VARCHAR},
      UNIT_PRICE = #{record.unitPrice,jdbcType=INTEGER},
      BUY_NUM = #{record.buyNum,jdbcType=INTEGER},
      TOTAL_PRICE = #{record.totalPrice,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      SERVICE_REQUEST = #{record.serviceRequest,jdbcType=VARCHAR},
      PROVIDER_ID = #{record.providerId,jdbcType=VARCHAR},
      UNIT = #{record.unit,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinda.model.ServiceOrder" >
    update service_order
    <set >
      <if test="serviceNo != null" >
        SERVICE_NO = #{serviceNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null" >
        SERVICE_INFO = #{serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="buyNum != null" >
        BUY_NUM = #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="serviceRequest != null" >
        SERVICE_REQUEST = #{serviceRequest,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        PROVIDER_ID = #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinda.model.ServiceOrder" >
    update service_order
    set SERVICE_NO = #{serviceNo,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
      SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      SERVICE_INFO = #{serviceInfo,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=INTEGER},
      BUY_NUM = #{buyNum,jdbcType=INTEGER},
      TOTAL_PRICE = #{totalPrice,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      SERVICE_REQUEST = #{serviceRequest,jdbcType=VARCHAR},
      PROVIDER_ID = #{providerId,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>