<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
欢迎进入登录页面！
	<button onclick="linkto()">跳转用户信息页面</button>
	<script type="text/javascript" >
	 function linkto(){
		 window.location.href="/sysuser/sysuserlist";
	 }
	</script>
	<form action="sysuser/selectSysUser" >
	id:<input type="text" name="id"/><br/>
	username:<input type="text" name="username"/><br/>
	password:<input type="text" name="password"/><br/>
	        <input type="submit" value="登录" />
	</form>

</body>
</html>