<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    width:50%;
}
ul.pagination li {
	display: inline;
}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;		/*solid	定义实线*/
}
ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}
div.nowpage {
	background-color:#aaaaaa;
}
div.center {
	text-align: center;
}</style>

<link rel="stylesheet" href="./css/public.css">
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/operator_orderform.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link rel="stylesheet" href="./css/element-ui_2.12.0.css">

<script src="./js/jquery-3.4.1.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="logo_info">
			<img src="./images/logo.png" alt="logo"> <span
				class="platform_name">信达</span>
		</div>
		<ul class="user_info">
			<li><a href="/product"><i
					class="fa fa-cog fa-fw"></i>服务管理</a></li>
			<li><img src="./images/default_user.png"> <span th:text="${session.xdUser.name}"></span>
				<i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
				<ul class="dropdown">
					<a href="operator_login.html"><li>退出登录</li></a>
				</ul></li>
		</ul>
	</div>
	<div class="main">
		<ul class="main-nav">
			<li class="bg-red"><a href="/dingdan"> <i
					class="fa fa-shopping-cart fa-fw"></i>
					<p>订单</p>
			</a></li>
			<li><a href="/yonghu"> <i
					class="fa fa-user fa-fw"></i>
					<p>用户</p>
			</a></li>
			<li><a href="/fuwushang"> <i
					class="fa fa-tasks fa-fw"></i>
					<p>服务商</p>
			</a></li>
			<li><a href="/feiyong"> <i
					class="fa fa-cny fa-fw"></i>
					<p>费用中心</p>
			</a></li>
			<li><a href="/tuijian"> <i
					class="fa fa-star fa-fw"></i>
					<p>优质推荐</p>
			</a></li>
		</ul>
		<div class="main-details">
			<div class="main-top">
				<ul>
					<li><i class="fa fa-home fa-fw"></i></li>
					<li>订单</li>
					<li>/</li>
					<li>业务订单</li>
				</ul>
			</div>
			<ul class="main-tab">
				<li class="border-red business-order">业务订单</li>
				
			</ul>
			<div class="main-content">
				<div class="search">
				<form action="dingdan"> 
					
					
					<input name="business_no" th:value="${business_no}" id="business_no"placeholder="请输入订单号查询" />
					<button>
						<i class="fa fa-search fa-fw"></i>
					</button>
					</form>
					
				</div>
			</div>
			<input type="hidden" th:value="${pageCount}" id="pageCount"/>
	<input type="hidden" th:value="${pageSize}" id="pageSize"/>
	<input type="hidden" th:value="${pageStart}" id="pageStart"/>
			<div th:if="${businessOrderList.size()==0}">
				<h4 style="margin-left:30px;margin-top:20px">未查询到订单</h4>
			</div>
			<div th:if="${businessOrderList.size()!=0}">
				<table border="0" cellspacing="0" cellpadding="0" >
				<thead>
					<tr>
						<th>业务订单号</th>
						<th>客户</th>
						<th>订单内容</th>
						<th>订单金额</th>
						<th>创建时间</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="businessOrderList:${businessOrderList}">
						<td th:text="${businessOrderList.businessNo}"></td>
						<td th:text="${businessOrderList.name}"></td>
						<td th:text="${businessOrderList.orderInfo}"></td> 
 						<td th:text="${businessOrderList.orderPrice}"></td>
						<td th:text="${businessOrderList.createTime}"></td>
						<td th:text="${businessOrderList.status}"></td>
						<td>
						<input type="hidden" class="id" th:value="${businessOrderList.id}"> 
                            <span class="handle-btn"><i class="fa fa-edit fa-fw">
                            </i>详情</span>
                        </td>
                            
					</tr>
				</tbody>
			</table>
			<div class="center" th:with="pageNext=${pageStart}+${pageSize},pagePre=${pageStart}-${pageSize}
			,pageL=${pageCount}-(${pageCount}%${pageSize})">
		<ul class="pagination">
			
				<li><span><a th:href="@{'/dingdan?pageStart='+0+'&business_no='+${business_no}}">首页</a></span></li>	
				<li><span th:if ="${pagePre} ge '0'">
				<a th:href="@{'/dingdan?pageStart='+${pagePre}+'&business_no='+${business_no}}">上页</a></span></li>
				<li><div id="mydiv"></div></li>
				<li><span th:if ="${pageNext} lt ${pageCount}">
				<a th:href="@{'/dingdan?pageStart='+${pageNext}+'&business_no='+${business_no}}">下页</a></span></li>
				<li><span ><a th:href="@{'/dingdan?pageStart='+${pageL}+'&business_no='+${business_no}}">末页</a></span></li>
		
		</ul>
	</div>
	 <div class="masking">
        <div class="scroller">
            <h3>详情</h3>
            <ul>
                <li>
                	<input type="hidden" class="id" >
                    <span>业务订单号:</span>
                    <span class="businessNo" ></span>
                </li>
                <li>
                    <span>客户:</span>
                   <span class="name"></span>
                </li>
                <li>
                    <span>订单内容:</span>
                    <span class="orderInfo"></span>
                </li>
                <li>
                    <span>订单金额:</span>
                    <span class="orderPrice"></span>
                </li>
                <li>
                    <span>创建时间:</span>
                    <span class="createTime"></span>
                </li>
                <li>
                    <span>状态:</span>
                    <span class="status"></span>
                </li>
            </ul>
            <button class="save-btn">确认</button>
        </div>
    </div>
			</div>
			
		</div>
	</div>
	<script src="./js/operator_orderform.js"></script>
</body>

</html>