<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="./css/public.css">
<link rel="stylesheet" href="./css/header.css">
<link rel="stylesheet" href="./css/operator_recommend.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link rel="stylesheet" href="./css/element-ui_2.12.0.css">
<style>
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 50%;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}

ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50; /*solid	定义实线*/
}

ul
.pagination
 
li
 
a
:hover
:not
 
(
.active
 
)
{
background-color
:
 
#ddd
;


}
div.nowpage {
	background-color: #aaaaaa;
}

div.center {
	text-align: center;
}
</style>
<script src="./js/jquery-3.4.1.min.js"></script>
<script>
</script>
</head>

<body>
	<div class="header">
		<div class="logo_info">
			<img src="./images/logo.png" alt="logo"> <span
				class="platform_name">信达</span>
		</div>
		<ul class="user_info">
			<li><a href="/product"><i
					class="fa fa-cog fa-fw"></i>服务管理</a></li>
			<li><img src="./images/default_user.png"> <span th:text="${session.xdUser.name}"></span>
				<i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
				<ul class="dropdown">
					<a href="operator_login.html"><li>退出登录</li></a>
				</ul></li>
		</ul>
	</div>
	<div class="main">
		<ul class="main-nav">
			<li><a href="/dingdan"> <i class="fa fa-shopping-cart fa-fw"></i>
					<p>订单</p>
			</a></li>
			<li><a href="/yonghu"> <i class="fa fa-user fa-fw"></i>
					<p>用户</p>
			</a></li>
			<li><a href="/fuwushang"> <i class="fa fa-tasks fa-fw"></i>
					<p>服务商</p>
			</a></li>
			<li><a href="feiyong"> <i class="fa fa-cny fa-fw"></i>
					<p>费用中心</p>
			</a></li>
			<li class="bg-red"><a href="/tuijian"> <i
					class="fa fa-star fa-fw"></i>
					<p>优质推荐</p>
			</a></li>
		</ul>
		<ul class="main-details">
			<div class="main-top">
				<ul>
					<li><i class="fa fa-home fa-fw"></i></li>
					<li>优质推荐</li>
				</ul>
			</div>
			<ul class="main-tab">
				<li class="border-red business-order">产品列表</li>
			</ul>
			
			<ul class="main-content">
				<div class="search">
				<form action="/tuijian">
					<input  placeholder="服务名称" name="product_name"
						th:value="${product_name}" id="product_name" /><button>
						<i class="fa fa-search fa-fw"></i></button>
				
					<span><span class="font-orange">提示：</span>销量排名靠前的可选为优质服务，价格最低的选择为推荐服务</span>
					</form></div>
			
			<ul class="sort">
				<li><p class="tuijian-btn">默认排序（按时间排序）</p></li>
				<li><p class="paixiao-btn">销量</p></li>
				<li><p class="paijia-btn ">价格</p></li>
			</ul>
		</ul>
		<input type="hidden" th:value="${pageCount}" id="pageCount" /> <input
			type="hidden" th:value="${pageSize}" id="pageSize" /> <input
			type="hidden" th:value="${pageStart}" id="pageStart" />
			<input	type="hidden" th:value="${nihao}" id="nihao" />
			<div th:if="${recommendList.size()==0}">
				<h3 style="margin-left:30px;margin-top:20px">暂无此服务 . . .</h3>
			</div>
			<div th:if="${recommendList.size()!=0}">
			
		<table border="0" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>产品名称</th>
					<th>说明</th>
					<th>销量</th>
					<th>服务商</th>
					<th>价格</th>
					<th>推荐服务</th>
					<th>初创企业必备</th>
				</tr>
			</thead>
			<tbody>


				<tr th:each="recommendList:${recommendList}">
					<td th:text="${recommendList.productName}"></td>
					<td th:text="${recommendList.explain}"></td>
					<td th:text="${recommendList.saleNum}"></td>
					<td th:text="${recommendList.provider}"></td>
					<td th:text="${recommendList.price}"></td>
					<td><input class="checkbox" type="checkbox" /></td>
					<td><input class="checkbox" type="checkbox" /></td>
				</tr>
			</tbody>
		</table>
		<div class="center"
			th:with="pageNext=${pageStart}+${pageSize},
	pagePre=${pageStart}-${pageSize},
	pageL=${pageCount}-(${pageCount}%${pageSize})">
			<ul class="pagination">

				<li><span><a
						th:href="@{${nihao} + '?pageStart='+0+'&product_name='+${product_name}}">首页</a></span></li>
				<li><span th:if="${pagePre} ge '0'"><a
						th:href="@{${nihao} + '?pageStart='+${pagePre}+'&product_name='+${product_name}}">上页</a></span></li>
				<li><div id="mydiv"></div></li>
				<li><span th:if="${pageNext} lt ${pageCount}"><a
						th:href="@{${nihao} + '?pageStart='+${pageNext}+'&product_name='+${product_name}}">下页</a></span></li>
				<li><span><a
						th:href="@{${nihao} + '?pageStart='+${pageL}+'&product_name='+${product_name}}">末页</a></span></li>

			</ul>
		</div>

		<div class="main-sercive">结算中心...</div>
	</div>
	</div>
	<script src="./js/operator_recommend.js"></script>
</body>

</html>