<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 自定义映射器文件 ，只做查询 -->
<mapper namespace="com.dt.cn.dao.mapper.ComovementMapper">
	
	<select id="findProvince"
		resultType="com.dt.cn.model.sysUser.Comovement">
		select pr_name from province
	</select>

	<select id="findCity" parameterType="String"
		resultType="com.dt.cn.model.sysUser.Comovement">
		select distinct ci_name from province,
		city where ci_pr=pr_id and pr_name=#{pr_name}
	</select>

	<select id="findCounty" parameterType="String"
		resultType="com.dt.cn.model.sysUser.Comovement">
		SELECT DISTINCT co_name FROM city,county 
		WHERE co_ci=ci_id AND ci_name=#{ci_name}
	</select>

</mapper>






